In [2]:
import pandas as pd

In [3]:
jniv = pd.read_csv('../../../1. 데이터셋/test_data/JNIV.csv')

In [4]:
new_row = {'날짜':['2023- 11- 03']}
new_row = pd.DataFrame(new_row)
new_row.index = [0]
jniv = pd.concat([new_row, jniv], ignore_index=True)

In [5]:
jniv = jniv[::-1]
jniv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 22 to 0
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      23 non-null     object
 1   종가      22 non-null     float64
 2   시가      22 non-null     float64
 3   고가      22 non-null     float64
 4   저가      22 non-null     float64
 5   거래량     0 non-null      float64
 6   변동 %    22 non-null     object
dtypes: float64(5), object(2)
memory usage: 1.4+ KB

In [6]:
jniv = jniv.reset_index(drop=True)

In [7]:
jniv = jniv[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [8]:
jniv['변동 %'] = jniv['변동 %'].astype(str)
jniv["변동 %"] = jniv["변동 %"].str.rstrip('%')
jniv["변동 %"] = jniv["변동 %"].astype(float)

In [9]:
jniv['변동 %'] = jniv['변동 %'].shift(2)
jniv['종가'] = jniv['종가'].shift(1)
jniv

              날짜     종가     시가     고가     저가   변동 %
0   2023- 10- 03    NaN  19.62  20.50  19.60    NaN
1   2023- 10- 04  20.30  22.19  22.76  21.33    NaN
2   2023- 10- 05  22.76  21.15  21.44  20.68   7.52
3   2023- 10- 06  20.84  20.59  21.08  20.32  12.12
4   2023- 10- 10  20.47  20.88  21.46  20.54  -8.44
5   2023- 10- 11  21.09  20.68  20.89  20.20  -1.78
6   2023- 10- 12  20.67  20.38  20.87  20.01   3.03
7   2023- 10- 13  20.68  20.50  21.23  20.30  -1.99
8   2023- 10- 16  20.97  21.46  22.29  21.10   0.05
9   2023- 10- 17  21.90  20.97  21.38  20.82   1.40
10  2023- 10- 18  21.15  21.09  21.57  20.87   4.43
11  2023- 10- 19  21.00  22.40  22.62  21.93  -3.42
12  2023- 10- 20  22.47  22.77  23.26  22.33  -0.71
13  2023- 10- 23  23.20  23.42  23.87  23.30   7.00
14  2023- 10- 24  23.52  22.56  24.14  22.50   3.25
15  2023- 10- 25  22.55  21.85  22.21  21.62   1.38
16  2023- 10- 26  22.11  23.09  24.13  23.05  -4.12
17  2023- 10- 27  23.99  23.06  23.11  22.18  -1.95
18  2023- 10- 30  22.59  23.82  24.02  23.44   8.50
19  2023- 10- 31  23.71  23.29  23.43  21.79  -5.84
20  2023- 11- 01  22.03  21.12  21.20  20.83   4.96
21  2023- 11- 02  20.94  20.10  20.23  19.79  -7.09
22  2023- 11- 03  20.01    NaN    NaN    NaN  -4.95

In [10]:
jniv['전날 변동율'] = round((jniv['종가'] - jniv['시가']) / jniv['시가'] * 100, 3)
jniv['전날 변화량'] = round(jniv['고가'] - jniv['저가'], 3)

In [11]:
jniv['전날 변동율'] = jniv['전날 변동율'].shift(1)
jniv['전날 변화량'] = jniv['전날 변화량'].shift(1)

In [12]:
jniv = jniv[4:]

In [13]:
jniv = jniv.reset_index(drop=True)

In [14]:
jniv['날짜'] = pd.to_datetime(jniv['날짜'])

In [15]:
jniv

           날짜     종가     시가     고가     저가  변동 %  전날 변동율  전날 변화량
0  2023-10-10  20.47  20.88  21.46  20.54 -8.44   1.214    0.76
1  2023-10-11  21.09  20.68  20.89  20.20 -1.78  -1.964    0.92
2  2023-10-12  20.67  20.38  20.87  20.01  3.03   1.983    0.69
3  2023-10-13  20.68  20.50  21.23  20.30 -1.99   1.423    0.86
4  2023-10-16  20.97  21.46  22.29  21.10  0.05   0.878    0.93
5  2023-10-17  21.90  20.97  21.38  20.82  1.40  -2.283    1.19
6  2023-10-18  21.15  21.09  21.57  20.87  4.43   4.435    0.56
7  2023-10-19  21.00  22.40  22.62  21.93 -3.42   0.284    0.70
8  2023-10-20  22.47  22.77  23.26  22.33 -0.71  -6.250    0.69
9  2023-10-23  23.20  23.42  23.87  23.30  7.00  -1.318    0.93
10 2023-10-24  23.52  22.56  24.14  22.50  3.25  -0.939    0.57
11 2023-10-25  22.55  21.85  22.21  21.62  1.38   4.255    1.64
12 2023-10-26  22.11  23.09  24.13  23.05 -4.12   3.204    0.59
13 2023-10-27  23.99  23.06  23.11  22.18 -1.95  -4.244    1.08
14 2023-10-30  22.59  23.82  24.02  23.44  8.50   4.033    0.93
15 2023-10-31  23.71  23.29  23.43  21.79 -5.84  -5.164    0.58
16 2023-11-01  22.03  21.12  21.20  20.83  4.96   1.803    1.64
17 2023-11-02  20.94  20.10  20.23  19.79 -7.09   4.309    0.37
18 2023-11-03  20.01    NaN    NaN    NaN -4.95   4.179    0.44

In [16]:
jniv.reset_index(drop=True)[["날짜", "변동 %", "전날 변동율", "전날 변화량"]].to_csv(
    "../../test_features/jniv.csv"
)