In [1]:
import pandas as pd

In [2]:
kospi = pd.read_csv("../../../1. 데이터셋/test_data/KOSPI.csv")

In [3]:
kospi = kospi[::-1]
kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 21 to 0
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      22 non-null     object
 1   종가      22 non-null     object
 2   시가      22 non-null     object
 3   고가      22 non-null     object
 4   저가      22 non-null     object
 5   거래량     22 non-null     object
 6   변동 %    22 non-null     object
dtypes: object(7)
memory usage: 1.3+ KB

In [4]:
kospi = kospi.reset_index(drop=True)

In [5]:
kospi = kospi[['날짜', '종가', '시가', '변동 %']]

In [6]:
kospi['변동 %'] = kospi['변동 %'].astype(str)
kospi["변동 %"] = kospi["변동 %"].str.rstrip('%')
kospi["변동 %"] = kospi["변동 %"].astype(float)

kospi["시가"] = kospi["시가"].str.replace(',', '')
kospi["시가"] = kospi["시가"].astype(float)

kospi["종가"] = kospi["종가"].str.replace(',', '')
kospi["종가"] = kospi["종가"].astype(float)

In [7]:
kospi['변동 %'] = kospi['변동 %'].shift(1)

In [8]:
kospi = kospi.dropna()

In [9]:
kospi['종가'] = kospi['종가'].shift(1)

In [10]:
kospi['야간변화율'] = round(((kospi['시가'] - kospi['종가']) / kospi['종가']) * 100, 3)

In [11]:
kospi = kospi.dropna()
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2 to 21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      20 non-null     object
 1   종가      20 non-null     float64
 2   시가      20 non-null     float64
 3   변동 %    20 non-null     float64
 4   야간변화율   20 non-null     float64
dtypes: float64(4), object(1)
memory usage: 960.0+ bytes

In [12]:
kospi['날짜'] = pd.to_datetime(kospi['날짜'])

In [13]:
kospi = kospi[1:]

In [14]:
kospi = kospi.reset_index(drop=True)

In [15]:
kospi

           날짜       종가       시가  변동 %  야간변화율
0  2023-10-10  2408.73  2436.58  0.21  1.156
1  2023-10-11  2402.58  2436.52 -0.26  1.413
2  2023-10-12  2450.08  2465.19  1.98  0.617
3  2023-10-13  2479.82  2460.85  1.21 -0.765
4  2023-10-16  2456.15  2442.43 -0.95 -0.559
5  2023-10-17  2436.24  2454.14 -0.81  0.735
6  2023-10-18  2460.17  2452.05  0.98 -0.330
7  2023-10-19  2462.60  2431.92  0.10 -1.246
8  2023-10-20  2415.80  2391.54 -1.90 -1.004
9  2023-10-23  2375.00  2370.07 -1.69 -0.208
10 2023-10-24  2357.02  2371.55 -0.76  0.616
11 2023-10-25  2383.51  2389.23  1.12  0.240
12 2023-10-26  2363.17  2325.82 -0.85 -1.581
13 2023-10-27  2299.08  2311.59 -2.71  0.544
14 2023-10-30  2302.81  2292.34  0.16 -0.455
15 2023-10-31  2310.55  2318.39  0.34  0.339
16 2023-11-01  2277.99  2292.89 -1.41  0.654
17 2023-11-02  2301.56  2336.48  1.03  1.517
18 2023-11-03  2343.12  2365.59  1.81  0.959

In [16]:
kospi.reset_index(drop=True)[["날짜", "변동 %", "야간변화율"]].to_csv(
    "../../test_features/kospi.csv"
)