In [1]:
import pandas as pd

In [2]:
ks200 = pd.read_csv("../../../1. 데이터셋/test_data/KS200.csv")

In [3]:
ks200 = ks200[::-1]

In [4]:
ks200 = ks200.reset_index()

In [5]:
ks200.head(3)

   index            날짜      종가      시가      고가      저가      거래량    변동 %
0     21  2023- 10- 04  319.45  322.61  322.61  318.88  149.16M  -2.22%
1     20  2023- 10- 05  318.58  321.46  321.71  318.46  104.52M  -0.27%
2     19  2023- 10- 06  318.94  319.27  320.67  318.44   87.54M   0.11%

In [6]:
ks200 = ks200[['날짜', '종가', '시가', '변동 %']]

In [7]:
ks200['변동 %'] = ks200['변동 %'].astype(str)
ks200["변동 %"] = ks200["변동 %"].str.rstrip('%')
ks200["변동 %"] = ks200["변동 %"].astype(float)

In [8]:
ks200['변동 %'] = ks200['변동 %'].shift(1)

In [9]:
ks200 = ks200.dropna()

In [10]:
ks200['종가'] = ks200['종가'].shift(1)

In [11]:
ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

In [12]:
ks200 = ks200.dropna()
ks200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2 to 21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      20 non-null     object
 1   종가      20 non-null     float64
 2   시가      20 non-null     float64
 3   변동 %    20 non-null     float64
 4   야간변화율   20 non-null     float64
dtypes: float64(4), object(1)
memory usage: 960.0+ bytes

In [13]:
ks200['날짜'] = pd.to_datetime(ks200['날짜'])

In [14]:
ks200 = ks200[1:]

In [15]:
ks200 = ks200.reset_index(drop=True)

In [16]:
ks200.reset_index(drop=True)[["날짜", "변동 %", "야간변화율"]].to_csv(
    "../../test_features/ks200.csv"
)